body {
    background-image: url('./assets/background.jpg');
    font-family: 'Pangolin', cursive;
}

.display_inline {
    display: inline;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#ideasHref-btn {
    background-color: #4efc7d;
    padding-left: 1.25em;
    padding-right: 1.25em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    font-size: 25px;
    border: 2px solid black;
    border-radius: 0.65em;
    font-weight: 600;
    margin-left: 7.75em;
    margin-top: 2.5em;
}

#reportsHref-btn {
    background-color: #4efc7d;
    padding-left: 1.25em;
    padding-right: 1.25em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    font-size: 25px;
    border: 2px solid black;
    border-radius: 0.65em;
    font-weight: 600;
    margin-left: 17em;
    margin-top: 1.5em;
}
